<!DOCTYPE html>

<html>

    <head>
        <meta name="viewport" content="width=device-width" />
        <meta charset="utf-8" />
        <meta name="author" content="Moritz Müller" />
        <meta name="description" content="BlogCoreEngine" />

        <link rel="icon" href="data:image;base64,@System.Convert.ToBase64String(ViewBag.Logo)" />

        <link rel="stylesheet" href="~/css/Site.css" />
        <link rel="stylesheet" href="~/css/BlogPost.css" />

        <title>@ViewBag.Title</title>
    </head>

    <body>
        <header>
            <div class="topbar">
                <div class="logo">
                    <a asp-controller="Home" asp-action="Index">
                        <img src="data:image;base64,@System.Convert.ToBase64String(ViewBag.Logo)" alt="LOGO" height="40" width="40" />
                    </a>
                </div>

                <div class="branding">
                    <h1><a asp-controller="Home" asp-action="Index">@ViewBag.Title</a></h1>
                </div>

                <div class="searchbar">
                    <form asp-controller="Home" asp-action="Index" method="post">
                        <img src="~/images/Search.jpg" height="20" width="20" />
                        <input type="text" name="searchString" />
                    </form>
                </div>

                <div class="login">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="clickLink" asp-controller="Account" asp-action="Profil" asp-route-id="@ViewBag.CurrentUserId">@(char.ToUpper(User.Identity.Name[0]) + User.Identity.Name.Substring(1))</a>
                        <a class="clickLink" asp-controller="Account" asp-action="LogOutAsync">Logout</a>
                    }
                    else
                    {
                        <a class="clickLink" asp-controller="Account" asp-action="Login">Login</a>
                        <a class="buttonLink" asp-controller="Account" asp-action="Register">Register</a>
                    }
                </div>

                <div class="navigator">
                    <nav>
                        <ul>
                            @if (this.User.IsInRole("Administrator"))
                            {
                                <li><a class="clickLink" asp-controller="Home" asp-action="AdminPanel">Admin Panel</a></li>
                            }
                            <li><a class="clickLink" asp-controller="Blog" asp-action="NewBlogPost">New Post</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        <div class="main-container">
            @RenderBody()
        </div>

        <footer></footer>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="~/js/Main.js"></script>
    </body>
</html>
