@model BlogCoreEngine.Models.ViewModels.BlogPostViewModel

@{
}

<div class="container">
    <form asp-controller="Blog" asp-action="EditBlogPost" method="post" enctype="multipart/form-data">

        <div class="form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" value="@Model.Title" />
        </div>

        <div class="form-group">
            <label>Cover</label>

            <label for="imageInput">
                <img id="imageDisplay" src="data:image;base64,@System.Convert.ToBase64String(ViewBag.CoverToBytes)" alt="COVER" height="200" width="200" />
                <input id="imageInput" type="file" name="_formFile" />
            </label>
        </div>

        <div class="form-group">
            <label asp-for="Preview"></label>
            <textarea style="height: 100px" asp-for="Preview">@Model.Preview</textarea>
        </div>

        <div class="form-group">
            <label asp-for="Content"></label>
            <textarea asp-for="Content">@Model.Content</textarea>
        </div>

        <input class="clickLink" type="submit" value="Save" />

        <div class="errors" asp-validation-summary="All"></div>
    </form>
</div>

@if (User.Identity.IsAuthenticated)
{
    <div class="right-container">
        <h1 style="text-align: center"><a asp-controller="Account" asp-action="Profil" asp-route-id="@ViewBag.CurrentUserId"><strong>@(char.ToUpper(User.Identity.Name[0]) + User.Identity.Name.Substring(1))</strong></a></h1>
        <hr />
        <h1>Posts: <strong>@ViewBag.UserBlogPostCount</strong></h1>
        <h1>Comments: <strong>@ViewBag.UserCommentCount</strong></h1>
    </div>
}


