@model IEnumerable<BlogCoreEngine.Models.DataModels.BlogPostDataModel>

@{
}

<ul id="BlogPosts">
    @if (Model.Count() <= 0)
    {
        <div class="container">
            <h1>No Posts found!</h1>
            <a class="clickLink" asp-controller="Blog" asp-action="NewBlogPost">New Post</a>
        </div>
    }
    else
    {
        <div style="margin-bottom: 15px" class="container">
            <h1><strong>@ViewBag.ProfilName</strong></h1>
            <h3>Posts: <strong>@ViewBag.ProfilBlogPostCount</strong></h3>
            <h3>Comments: <strong>@ViewBag.ProfilCommentCount</strong></h3>
        </div>

        @foreach (var item in Model)
        {
            <li style="width: 800px">
                <h2><a asp-controller="Blog" asp-action="DetailsBlogPost" asp-route-id="@item.Id"><strong>@(char.ToUpper(item.Title[0]) + item.Title.Substring(1))</strong></a></h2>

                <div class="headline">
                    <a asp-controller="Account" asp-action="Profil" asp-route-id="@item.CreatorId">posted by @(char.ToUpper(item.CreatorName[0]) + item.CreatorName.Substring(1))</a>
                    <h2 style="color: gray; margin-left: 10px;">@item.LastChangeDate.ToString("dd.MM.yyyy · HH:mm")</h2>
                </div>

                <div class="content">
                    <p>@item.Preview <a class="clickLink" style="margin-left: 5px" asp-controller="Blog" asp-action="DetailsBlogPost" asp-route-id="@item.Id"> Read more...</a></p>
                </div>

                <div class="underline">
                    <h1 style="color: gray;">@item.Views Views</h1>
                    <h1><strong>@item.Comments</strong> Comments</h1>

                    @if (ViewBag.CurrentUserId == item.CreatorId || User.IsInRole("Administrator"))
                    {
                        <a class="clickLink" asp-controller="Blog" asp-action="EditBlogPost" asp-route-id="@item.Id">Edit</a>
                        <a class="clickLink" style="color: red" asp-controller="Blog" asp-action="DeleteBlogPost" asp-route-id="@item.Id">Delete</a>
                    }
                </div>
            </li>
        }
    }
</ul>

@if (User.Identity.IsAuthenticated)
{
    <div class="right-container">
        <h1 style="text-align: center"><a asp-controller="Account" asp-action="Profil" asp-route-id="@ViewBag.CurrentUserId"><strong>@(char.ToUpper(User.Identity.Name[0]) + User.Identity.Name.Substring(1))</strong></a></h1>
        <hr />
        <h1>Posts: <strong>@ViewBag.UserBlogPostCount</strong></h1>
        <h1>Comments: <strong>@ViewBag.UserCommentCount</strong></h1>
    </div>
}
